{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 4,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "lf"
}