@import "src/styles/mixins"

.wrapper
    top: 0
    left: 0
    height: 100%
    width: 100%
    position: fixed
    display: flex
    justify-content: center
    align-items: center
    
.overlay
    height: 100%
    width: 100%
    position: absolute
    background-color: rgba(black, 0.5)
    
.modal
    padding: 24px
    background-color: $color-secondary
    min-height: 100px
    min-width: 100px
    border-radius: 16px
    
    @media ( max-width: 1024px )
        min-width: 100%
        min-height: 100%
        border-radius: 0
