@import "src/styles/mixins"

.home
    background-color: $color-grey-300
    @include page-layout
    
.logo
    margin-bottom: 128px
    
.yourName
    @include font-header-2
    color: $color-blue-300
    margin-bottom: 36px
    
.input
    margin-bottom: 24px