@import "src/styles/mixins"

.lobby
    @include page-layout
    
.header
    align-items: center
    max-width: 350px
    width: 100%
    display: flex
    margin-bottom: 36px
    
.backButton
    margin: 0 24px
    
.title
    @include font-h1
    text-align: center
    color: $color-blue-300
    
.count
    @include font-p
    color: $color-blue-300
    margin-bottom: 36px
    
.players
    display: flex
    align-items: center
    flex-direction: column
    margin-bottom: 48px
    
    @media ( max-width: 1024px )
        flex-grow: 1
    
.player
    @include font-p
    font-weight: 700
    color: $color-blue-300
    
    &:not(:last-child)
        margin-bottom: 24px
    
.buttons
    max-width: 350px
    display: flex
    margin-bottom: 36px
    
.startButton
    width: 255px
    margin-right: 24px
    
.copyCodeButton
    max-width: 48px
    width: 48px
    
.copyCodeIcon
    fill: $color-blue-200
    width: 24px
    height: 24px
